<head>
    <title>Hovedside</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/borgman.js" defer></script>
</head>
<h1>Velkommen til borg sitt rike</h1>
<p>Pool: 15</p>
<br>
<table border="1">
    <thead>
        <tr>
            <th>Host</th>
            <th>Subnett (CIDR)</th>
            <th>Ip-adresse</th>
            <th>Plassering</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>pve-frontend.ikt-fag.no</th>
            <td>10.10.9.0/24</td>
            <td>10.10.9.101</td>
            <td>Serverrom</td>
        </tr>
        <tr>
            <th>pve-backend.ikt-fag.no</th>
            <td>10.10.1.0/24</td>
            <td>10.10.1.30</td>
            <td>Serverrom</td>
        </tr>
        <tr>
            <th>alias.ikt-fag.no</th>
            <td>10.14.15.0/24</td>
            <td>10.14.15.20</td>
            <td>Serverrom</td>
        </tr>
        <tr>
            <th>gateway</th>
            <td>10.14.15.0/24</td>
            <td>10.14.15.1</td>
            <td>Serverrom</td>
        </tr>
        <tr>
            <th>dns delegering backend</th>
            <td>10.10.1.0/24</td>
            <td>10.10.1.30</td>
            <td>Serverrom</td>
        </tr>
    </tbody>
</table>
<br>
<section>
    <h2>Melding til borg</h2>
    <p>Bro guud løkk mann</p>
</section>
<br>
<section>
    <h2>Tips</h2>
    <ul>
        <li>
            <p>Ikke bruk ai</p>
        </li>
        <li>
            <p>Lowky bare lock inn</p>
        </li>
        <li>
            <p>Ikke spill på skolen bro</p>
        </li>
    </ul>
</section>

<br>
<br>
<br>
<br>
<br><div class="borg-container">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
    <img src="/imgs/borgman.png" class="borgman">
</div>
<img src="/imgs/borgman.png" class="borgman-big">